/*
 * Font color
 */
$color-4f4f4f: #4f4f4f;
$color-A9A9A9: #a9a9a9;
$color-FE7773: #fe7773;

/*
 * Background color
 */
$color-white: #fff;
$color-F9F9F9: #f9f9f9;

/*
 * Border color
 */
$color-horizontal: #ccc;

$color-F9F4F1: #f9f4f1;
$color-FE5C01: #fe5c01;
